.container{
    width: 400px;
    text-align: center;
    position: relative;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(8, 44, 34);
    color: white;
}
.counter{
    font-size: 40px;
}
.arkaplan{
    background-color: white;
    height: 10px;
    border: none;
    border-radius: 5px;
    position: absolute;
    width: 100%;

}
.onplan{
    background-color: red;
    height: 10px;
    border: none;
    border-radius: 5px;
    position: absolute;
    width: 0%;
}